<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Admin</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <b><a class="navbar-brand " href="/osr">ONLINE STUDY RESOURCES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button></b>
        <div class="collapse navbar-collapse justify-content-end">
            <a class="nav-link" href="/osr/admin/logout" style="color: honeydew;" >logout</a>

        </div>
    </nav>
    
    <div class="container mt-4">
        <div class="card" style="margin-top: 10%; text-align: center;">
            <div class="card-header ">
                <h4>Resouces Request</h4>
                </a>
            </div>
            <div class="card-body">
                <table style="width: 100%;">
                    <tr>
                        <th>

                            RESOUCES
                        </th>
                        <th>
                            ACTION

                        </th>
                    </tr>
                    <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].content %> 
                            </td>
                            <td>
                                <form method="post" action="/osr/action">
                                    <button type="submit" class="btn btn-success btn-sm" value="<%= data[i].res_id %>"
                                        id='<%= data[i].res_id %>' name="accept">Accept</button>
                                    <button type="submit" class="btn btn-danger btn-sm" value="<%= data[i].res_id %>"
                                        id='<%= data[i].res_id %>' name="decline">Decline</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </div>
    <script src="../js/admin_action.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>