<%- include("header") %>
    <% if(data.length) { %>
        <% for(var i=0; i < data.length; i++) { %>

            <div class="card" style="width: 50%; margin-left: 25%;">
                <div class="card-header text-center mt-1">
                    <i><%= data[i].title %></i>
                </div>
                <div class="card-body">
                    <% if(data[i].link){ %>
                        <small> URL: </small>
                        <a href="<%= data[i].link %>" target="_blank">
                            <%= data[i].link %>
                        </a>
                        <br>
                        <% } %>
                            <% if(data[i].content) { %>
                                <small> FILE: </small>
                                <a id="download-link" href="/uploads/<%= data[i].content %>"
                                    download="<%= data[i].content %>" target="_blank">
                                    <%= data[i].content %>
                                </a>
                                <% } %>
                                    <br>
                                    <small>Description: </small>
                                    <% if(data[i].description){ %>
                                        <i><%= data[i].description %></i><br>
                                            <% } else {%>
                                                <small>No description available</small> <br>
                                                <% } %>
                                                <br>
                                                <small>Last Updated: </small>
                                                <i><%= data[i].date %></i>

                </div>
                <div class="card-footer text-muted">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: start;">
                                <a class="update" href="#">Update</a>
                                <a class="delete" href="#">Delete</a>
                            </td>
                            <td style="text-align: center;">
                                <img src="/images/like1.jpg" alt="like" onclick="myFunctionlike()" id="like"
                                    height="20px" width="20px">
                                <%= data[i].likes %>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/images/unlike1.jpg" alt="unlike" onclick="myFunctionunlike()"
                                        height="20px" width="20px">
                                    <%= data[i].unlikes %>
                            </td>
                            <td style="text-align: end;">
                                <a class="comments" href="#">View Comments</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br><br>
            <% } %>
            <% } else {%>
                Nothing Found
            <% } %>


                        <script>
                            function myFunctionlike() {
                                document.getElementById("like").src = "/images/like.jpg";
                            }
                            function myFunctionunlike() {
                                document.getElementById("unlike").src = "/images/unlike.jpg";
                            }
                        </script>

                        <br>

                        <%- include("footer") %>